<div class="container">
    <div class="box">
        <h2>Register</h2>
        <form method="POST">
        <div class="row">
            <div class="one-half column">
                <label for="first-name">First Name</label>
                <input type="text" class="u-full-width" id="first-name" name="firstname" placeholder="Jane" />
            </div>
            <div class="one-half column">
                <label for="last-name">Last Name</label>
                <input type="text" class="u-full-width" id="last-name" name="lastname" placeholder="Smith" />
            </div>
        </div>
        <div class="row">
            <div class="one-third column">
                <label for="email">Email</label>
                <input type="email" class="u-full-width" name="email" id="email" placeholder="Email"/>
            </div>
            <div class="one-third column">
                <label for="password">Password</label>
                <input type="password" class="u-full-width" name="to" id="password"/>
            </div>
            <div class="one-third column">
                <label for="repeat-password">Repear Password</label>
                <input type="password" class="u-full-width" name="to" id="repeat-password"/>
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                <button class="button-primary">Submit</button>
            </div>
            <div class="two columns">
                <a href="#" data-view="login" id="login-register-link">Go back</a>
            </div>
        </div>
        </form>
        {{#if organisation}}ORG{{/if}}
    </div>
</div>

