html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #222;
    font-size: 13px;
}
html {
    background-color: #f9f9f3;
}

div#login-admin {
    position: fixed;
    left: 100%;
    font-size: 30px;
    margin-left: -60px;
    top: 0%;
    margin-top: 15px;
}

div.box {
    border: solid 1px #efefef;
    background-color: white;
    padding: 20px;

    h2 {
        font-size: 60px;
    }
}

div.box-down {
    font-size: 50px;
    color: #5a5a5a;
    text-align: center;
    margin-top: 40px;

    p {
        font-size: 16px;
        margin: 0px;
    }
}
div.view-container {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: none;
    top: 150%;
}
i#view-holiday {
    cursor: pointer;
}

div.container {
    margin-top: 30px;
}

div.login-register-link {
    padding-top: 5px;
}

@-ms-viewport { width: device-width; }
