html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #222;
    font-size: 13px;
    overflow-x: hidden;
}
html {
    background-color: #f9f9f3;
}

div.toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 20px;
    padding: 5px;
    z-index: 10;
    background-color: #f9f9f3;

    div#login-admin {
        font-size: 20px;
    }
}

div.box {
    border: solid 1px #efefef;
    background-color: white;
    padding: 20px;

    h2 {
        font-size: 60px;
    }
}

div.box-down {
    font-size: 50px;
    color: #5a5a5a;
    text-align: center;
    margin-top: 40px;

    p {
        font-size: 16px;
        margin: 0px;
    }
}
div.view-container {
    width: 100%;
    padding-top: 30px;
    min-height: 100%;
    position: absolute;
    display: none;
    top: 110%;
}
i#view-holiday {
    cursor: pointer;
}

div.container {
    margin-top: 30px;
}

a.dull-anchor {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

div.login-register-link {
    padding-top: 5px;
}

input.warning {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,0,0,1) !important;
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,0,0,1) !important;
    box-shadow: 0px 0px 10px 0px rgba(255,0,0,1) !important;
}

table#current-holiday {
    tbody {
        tr.highlight {
            font-weight: bold;
            color: blue;
        }
    }
}

.font-green {
    color: green;
}
.font-red {
    color: red;
}

i[id^="action-"] {
    cursor: pointer;
}

@-ms-viewport { width: device-width; }
