<div class="container">
    <div class="box">
        <h2>Register</h2>
        <p>
            Please fill out your details below if you are interested in
            using this software for your organisation
        </p>
        <form id="organisation">
        <div class="row">
            <div class="one-half column">
                <label for="firstname">First Name</label>
                <input type="text" class="u-full-width" id="firstname" placeholder="Jane" />
            </div>
            <div class="one-half column">
                <label for="lastname">Last Name</label>
                <input type="text" class="u-full-width" id="lastname" placeholder="Smith" />
            </div>
        </div>
        <div class="row">
            <div class="one-third column">
                <label for="email">Email</label>
                <input type="email" class="u-full-width" id="email" placeholder="Email"/>
            </div>
            <div class="one-third column">
                <label for="password">Password</label>
                <input type="password" class="u-full-width" id="password"/>
            </div>
            <div class="one-third column">
                <label for="passwordAgain">Repear Password</label>
                <input type="password" class="u-full-width" id="passwordAgain" />
            </div>
        </div>
        <div class="row">
            <div class="one-half column">
                <label for="organisation">Organisation Name</label>
                <input type="text" class="u-full-width" id="organisation" placeholder="Acme inc." />
            </div>
        </div>
        <div class="row">
            <div class="two columns">
                <button class="button-primary" type="button" id="register">Submit</button>
            </div>
            <div class="two columns">
                <a href="#" data-view="login" id="login-register-link">Go back</a>
            </div>
        </div>
        </form>
    </div>
</div>
