<div class="container">
    <div class="box">
        <h2>Unauthorised Holiday</h2>
        <div class="row">
            <a href="#" data-view="users">Manage Users</a>
        </div>
        <div class="row" id="unauthorised">
        </div>
    </div>
</div>
