<div class="container">
    <div class="box">
        <h2>Unauthorised Holiday</h2>
        <div class="row">
            <a href="#" data-view="users">Manage Users</a>
        </div>
        <table class="u-full-width" id="unauthorised">
            <thead>
                <tr>
                    <th>User</th>
                    <th colspan=2>Dates</th>
                    <th>Total Days</th>
                    <th colspan=2>Remaining</th>
                    <th>Date Submitted</th>
                </tr>
                <tr>
                    <th></th>
                    <th>From</th>
                    <th>To</th>
                    <th>
                    <th>Before</th>
                    <th>After</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
