<div class="container">
    <div class="box">
        <form id="add">
            <div class="row">
                <div class="three columns">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" placeholder="Jane" />
                </div>
                <div class="three columns">
                    <label for="lastname">Last Name</label>
                    <input type="text" id="lastname" placeholder="Smith" />
                </div>
                <div class="three columns">
                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="jane@example.com" />
                </div>
                <div class="three columns">
                    <label for="allowance">Allowance</label>
                    <input type="text" id="allowance" placeholder="15" />
                </div>
            </div>
        </form>
    </div>
</div>
