<div class="container">
    <div class="holiday-list-container">
        <table class="u-full-width" id="current-holiday">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Type</th>
                    <th>Approved</th>
                    <th><!-- actions --></th>
                </ty>
            </thead>
            <tbody>
            </tbody>
        </table>
        <p><a href="#" data-view="request">Go back</a></p>
    </div>
</div>
