<div class="container">
    <div class="box">
        <h2>Holiday Request</h2>
        <form id="request" onsubmit="return false;">
        <div class="row">
            <div class="four columns">
                <label for="date_from">Date From</label>
                <input type="text" class="u-full-width" id="date_from" placeholder="18/06/2017"/>
            </div>
            <div class="four columns">
                <label for="date_to">Date To</label>
                <input type="text" class="u-full-width" id="date_to" placeholder="Date To"/>
            </div>
            <div class="four columns">
                <label for="type">Date To</label>
                <select class="u-full-width" id="type">
                    <option value="holiday">Holiday</option>
                    <option value="illness">Illness</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        <label for="message">Message</label>
        <textarea class="u-full-width" placeholder="Message ..." id="message"></textarea>
        <button class="button-primary" id="request">Submit</button>
        </form>
    </div>
</div>

<div class="container box-down">
    <p>View holiday requests</p>
    <a href="#" class="dull-anchor" data-view="current">
        <i class="icon-down-big" id="view-holiday"></i>
    </a>
</div>

