    {{#wrap 'layout'}}
        <script>require('admin');</script>
        <div class="view-container"
            data-view="unauthorised"
            data-template="admin/unauthorised"
        ></div>
        <div class="view-container"
            data-view="users"
            data-template="admin/users"
        ></div>
    {{/wrap}}
