    {{#wrap 'layout'}}
        <script>require('holiday');</script>
        <div class="toolbar">
            <div class="row">
                Welcome {{firstname}} <a href="/logout">logout</a>
                {{#if isAdmin}}<a href="/admin"><i class="icon-key"></i>admin</a>{{/if}}
            </div>
            <div class="row" id="holiday-counts">
            </div>
        </div>

        <div class="view-container"
            data-view="request"
            data-template="holiday/request"
        ></div>

        <div class="view-container"
            data-view="current"
            data-template="holiday/current"
        ></div>
    {{/wrap}}
