    {{#wrap 'layout'}}
        <script>require('holiday');</script>
        <div class="toolbar">
            <div class="row">
                <div class="three columns">
                    Welcome {{firstname}} <a href="/logout">logout</a>
                    <a href="/admin"><i class="icon-key"></i>admin</a>
                </div>
            </div>
        </div>

        <div class="view-container"
            data-view="request"
            data-template="holiday/request"
        ></div>

        <div class="view-container"
            data-view="current"
            data-template="holiday/current"
        ></div>
    {{/wrap}}
