<!DOCTYPE html>
<html>
    <head>
        <script src="/vendor.js"></script>
        <script src="/app.js"></script>
        <script src="/templates.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/app.css" />
        <link rel="stylesheet" type="text/css" href="/vendor.css" />
        <link rel="stylesheet" type="text/css" href="/fontello/css/fontello.css" />
        <script>window.$ = window.jQuery = require('jquery');</script>
    </head>
    <body>
        {{{content}}}
    </body>
</html>
