<!DOCTYPE html>
<html>
    <head>
        <script src="/vendor.js"></script>
        <script src="/app.js"></script>
        <script src="/templates.js"></script>
        <link rel="stylesheet" type="text/css" href="/app.css" />
        <link rel="stylesheet" type="text/css" href="/fontello/css/fontello.css" />
        <script>window.$ = window.jQuery = require('jquery');</script>
        <script>require('app'); console.log( 'require' );</script>
    </head>
    <body>
        {{{content}}}
    </body>
</html>
