    {{#wrap 'layout'}}
        <script>require('login');</script>
        <div id="login-admin">
            <i class="icon-key"></i>
        </div>
        <div class="view-container" data-view="login"></div>
        <div class="view-container" data-view="register"></div>
        <div class="view-container" data-view="register-organisation"></div>
    {{/wrap}}
