    {{#wrap 'layout'}}
        <script>require('login');</script>
        <div class="view-container"
            data-view="login"
            data-template="login/login"
        ></div>
        <div class="view-container"
            data-view="register"
            data-template="login/register"
        ></div>
    {{/wrap}}
