    {{#wrap 'layout'}}
        <script>require('login');</script>
        <div id="login-admin">
            <i class="icon-key"></i>
        </div>
        <div class="container" id="container-1">
            <div class="box">
                <h2>Login</h2>
                <form method="POST">
                <div class="row">
                    <div class="one-half column">
                        <label for="email">Email</label>
                        <input type="email" class="u-full-width" name="email" id="email" placeholder="Email"/>
                    </div>
                    <div class="one-half column">
                        <label for="password">Password</label>
                        <input type="password" class="u-full-width" name="to" id="password"/>
                    </div>
                </div>
                <div class="row">
                    <div class="two columns">
                        <button class="button-primary">Submit</button>
                    </div>
                    <div class="two columns login-register-link">
                        <a href="/register">register</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    {{/wrap}}
